


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."importar_lotes_biblia"("versiculos_input" "jsonb", "referencias_input" "jsonb") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Inyecci├│n controlada de vers├¡culos planos
  IF jsonb_array_length(versiculos_input) > 0 THEN
    INSERT INTO public.versiculos (version_id, libro_id, capitulo, versiculo, texto)
    SELECT 
      (elem->>'version_id')::TEXT,
      (elem->>'libro_id')::INTEGER,
      (elem->>'capitulo')::INTEGER,
      (elem->>'versiculo')::INTEGER,
      (elem->>'texto')::TEXT
    FROM jsonb_array_elements(versiculos_input) AS elem
    ON CONFLICT (version_id, libro_id, capitulo, versiculo) 
    DO UPDATE SET texto = EXCLUDED.texto;
  END IF;

  -- Inyecci├│n controlada de citas marginales sin duplicar filas id├®nticas
  IF jsonb_array_length(referencias_input) > 0 THEN
    INSERT INTO public.referencias_cruzadas (
      origen_libro_id, origen_capitulo, origen_versiculo, 
      destino_libro_id, destino_capitulo, destino_versiculo, llave_unica
    )
    SELECT 
      (elem->>'origen_libro_id')::INTEGER,
      (elem->>'origen_capitulo')::INTEGER,
      (elem->>'origen_versiculo')::INTEGER,
      (elem->>'destino_libro_id')::INTEGER,
      (elem->>'destino_capitulo')::INTEGER,
      (elem->>'destino_versiculo')::INTEGER,
      (elem->>'llave_unica')::TEXT
    FROM jsonb_array_elements(referencias_input) AS elem
    ON CONFLICT (llave_unica) 
    DO NOTHING;
  END IF;
END;
$$;


ALTER FUNCTION "public"."importar_lotes_biblia"("versiculos_input" "jsonb", "referencias_input" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."versiculos_trigger_fts"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  new.fts_vector := to_tsvector('spanish', coalesce(new.texto, ''));
  return new;
end
$$;


ALTER FUNCTION "public"."versiculos_trigger_fts"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."bosquejos" (
    "id" bigint NOT NULL,
    "titulo" character varying(255) NOT NULL,
    "contenido_json" "text" NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."bosquejos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."bosquejos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."bosquejos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."bosquejos_id_seq" OWNED BY "public"."bosquejos"."id";



CREATE TABLE IF NOT EXISTS "public"."libros" (
    "id" integer NOT NULL,
    "nombre" "text" NOT NULL
);


ALTER TABLE "public"."libros" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."referencias_cruzadas" (
    "id" bigint NOT NULL,
    "origen_libro_id" integer NOT NULL,
    "origen_capitulo" integer NOT NULL,
    "origen_versiculo" integer NOT NULL,
    "destino_libro_id" integer NOT NULL,
    "destino_capitulo" integer NOT NULL,
    "destino_versiculo" integer NOT NULL,
    "llave_unica" "text" NOT NULL
);


ALTER TABLE "public"."referencias_cruzadas" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."referencias_cruzadas_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."referencias_cruzadas_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."referencias_cruzadas_id_seq" OWNED BY "public"."referencias_cruzadas"."id";



CREATE TABLE IF NOT EXISTS "public"."versiculos" (
    "id" bigint NOT NULL,
    "version_id" "text" NOT NULL,
    "libro_id" integer NOT NULL,
    "capitulo" integer NOT NULL,
    "versiculo" integer NOT NULL,
    "texto" "text" NOT NULL,
    "fts_vector" "tsvector" GENERATED ALWAYS AS ("to_tsvector"('"spanish"'::"regconfig", COALESCE("texto", ''::"text"))) STORED
);


ALTER TABLE "public"."versiculos" OWNER TO "postgres";


CREATE SEQUENCE IF NOT EXISTS "public"."versiculos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."versiculos_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."versiculos_id_seq" OWNED BY "public"."versiculos"."id";



CREATE TABLE IF NOT EXISTS "public"."versiones" (
    "id" "text" NOT NULL,
    "nombre" "text" NOT NULL,
    "idioma" "text" NOT NULL
);


ALTER TABLE "public"."versiones" OWNER TO "postgres";


ALTER TABLE ONLY "public"."bosquejos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."bosquejos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."referencias_cruzadas" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."referencias_cruzadas_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."versiculos" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."versiculos_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."bosquejos"
    ADD CONSTRAINT "bosquejos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."libros"
    ADD CONSTRAINT "libros_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."referencias_cruzadas"
    ADD CONSTRAINT "referencias_cruzadas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."referencias_cruzadas"
    ADD CONSTRAINT "uq_llave_referencia" UNIQUE ("llave_unica");



ALTER TABLE ONLY "public"."versiculos"
    ADD CONSTRAINT "uq_versiculo_unico" UNIQUE ("version_id", "libro_id", "capitulo", "versiculo");



ALTER TABLE ONLY "public"."versiculos"
    ADD CONSTRAINT "versiculos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."versiones"
    ADD CONSTRAINT "versiones_pkey" PRIMARY KEY ("id");



CREATE INDEX "versiculos_fts_idx" ON "public"."versiculos" USING "gin" ("fts_vector");



ALTER TABLE ONLY "public"."referencias_cruzadas"
    ADD CONSTRAINT "referencias_cruzadas_destino_libro_id_fkey" FOREIGN KEY ("destino_libro_id") REFERENCES "public"."libros"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."referencias_cruzadas"
    ADD CONSTRAINT "referencias_cruzadas_origen_libro_id_fkey" FOREIGN KEY ("origen_libro_id") REFERENCES "public"."libros"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."versiculos"
    ADD CONSTRAINT "versiculos_libro_id_fkey" FOREIGN KEY ("libro_id") REFERENCES "public"."libros"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."versiculos"
    ADD CONSTRAINT "versiculos_version_id_fkey" FOREIGN KEY ("version_id") REFERENCES "public"."versiones"("id") ON DELETE CASCADE;





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";




























































































































































GRANT ALL ON FUNCTION "public"."importar_lotes_biblia"("versiculos_input" "jsonb", "referencias_input" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."importar_lotes_biblia"("versiculos_input" "jsonb", "referencias_input" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."importar_lotes_biblia"("versiculos_input" "jsonb", "referencias_input" "jsonb") TO "service_role";


















GRANT ALL ON TABLE "public"."bosquejos" TO "anon";
GRANT ALL ON TABLE "public"."bosquejos" TO "authenticated";
GRANT ALL ON TABLE "public"."bosquejos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."bosquejos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."bosquejos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."bosquejos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."libros" TO "anon";
GRANT ALL ON TABLE "public"."libros" TO "authenticated";
GRANT ALL ON TABLE "public"."libros" TO "service_role";



GRANT ALL ON TABLE "public"."referencias_cruzadas" TO "anon";
GRANT ALL ON TABLE "public"."referencias_cruzadas" TO "authenticated";
GRANT ALL ON TABLE "public"."referencias_cruzadas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."referencias_cruzadas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."referencias_cruzadas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."referencias_cruzadas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."versiculos" TO "anon";
GRANT ALL ON TABLE "public"."versiculos" TO "authenticated";
GRANT ALL ON TABLE "public"."versiculos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."versiculos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."versiculos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."versiculos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."versiones" TO "anon";
GRANT ALL ON TABLE "public"."versiones" TO "authenticated";
GRANT ALL ON TABLE "public"."versiones" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT UPDATE ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT UPDATE ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT UPDATE ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLES TO "service_role";































